@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
    /* 禁止长按选中文本，提升 App 体验 */
    -webkit-user-select: none;
    user-select: none;
    /* 禁用高亮颜色 */
    -webkit-tap-highlight-color: transparent;
  }
  
  /* 允许输入框选中 */
  input, textarea {
    -webkit-user-select: text;
    user-select: text;
  }
}

@layer utilities {
  .safe-top {
    padding-top: env(safe-area-inset-top);
  }
  .safe-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
